{{#partial "content"}}

<h3>Here is Your Hero's Details</h3>

<p>Hero's Name: {{ name }}</p>
<p>Hero's Age: {{ age }}</p>
<p>Hero's Power: {{ power }}</p>
<p>Hero's Weakness: {{ weakness }}</p>

{{/partial}}

{{> layout.hbs}}