{{#partial "content"}}
<div class = "container"
 <h1><b>HERO SQUAD</b></h1>
 <p>Hero squad is a game for kids where you can choose a superhero</p>
  <p><img src = "/images/gabriel-tovar-lQvr3z9cGYE-unsplash.jpg" alt= "photo of a superhero" width = "40%" height = "70%"></p>
  <a  class = "btns" href = "/hero-form"> CREATE NEW HERO</a>

{{/partial}}
{{>layout.hbs}}