{{#partial "content"}}
<div class = "container"
 <h1><b>HERO SQUAD</b></h1>
   <a  class = "link" href = "/hero-form"> CREATE NEW HERO</a>
{{!-- <a href="/hero"><button type="submit" class="btn btn-success">Hero</button></a> --}}
{{/partial}}
{{>layout.hbs}}