{{#partial "content"}}
<form class = "form" action = "new/hero" method = "post">
<div class = "form-control">
<h2>Create New Hero</h2>
<div class = "form-group">
  <input type="text" placeholder="Hero's name" name="name" required class="form-control">
  </div>
  <div class = "form-group">
    <input type="number" placeholder="Hero's age" name="age" required class="form-control">
    </div>
    <div class = "form-group">
      <input type="text" placeholder="Hero's special power" name="power" required class="form-control">
      </div>
      <div class = "form-group">
        <input type="text" placeholder="Hero's weakness" name="weakness" required class="form-control">
        </div>
        <a href="/"><button type="submit" class="btn btn-success">Submit</button></a>
        </div>
        </form>
        {{/partial}}
        {{>layout.hbs}}
