<!DOCTYPE html>
<html>
 <head>
 <title>Hero Squad Game</title>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
 </head>
 <body>
 <h1>Hero Squad</h1>
 <p>Hero squad is a game for kids where you can choose a superhero</p>
  <p><img src = "/images/gabriel-tovar-lQvr3z9cGYE-unsplash.jpg" alt= "photo of a superhero"></p>
  </body>
 </html>
