{{#partial "content"}}
 <h1>Hero Squad</h1>
 <p>Hero squad is a game for kids where you can choose a superhero</p>
  <p><img src = "/images/gabriel-tovar-lQvr3z9cGYE-unsplash.jpg" alt= "photo of a superhero" width = "40%" height = "70%"></p>

{{/partial}}
{{>layout.hbs}}