{{#partial "content"}}
<div class="index">
  <h3>Hero's Details</h3>
  {{#each hero }}
  <p>Name : {{name}}</p>
  <p>Age : {{age}}</p>
  <p>Special power : {{power}}</p>
  <p>Weakness : {{weakness}}</p>
{{/each}}
  <a href="/hero-form"><button type="submit" class="btn btn-success">Add Hero</button></a>
</div>
{{/partial}}

{{> layout.hbs}}