    {{#partial "content"}}

    <span id="index">
        <h1 class="index"></h1>
<br><br>
    <div>
        <a href="/heroes"><button class="btn btn-success"> Hero List</button></a>
<br><br>
        <a href="/squad"><button class="btn btn-warning">Check Your Squads</button></a>
    </div>
    </span><br><br>

    {{/partial}}
    {{> layout.hbs}}
