{{#partial "content"}}
<div class="index">
 <h3>Hero's Details</h3>
  <p>Hero squad is a game for kids where you can choose a superhero</p>
  {{#each hero }}
  <p>Name : {{name}}</p>
  <p>Age : {{age}}</p>
  <p>Special power : {{power}}</p>
  <p>Weakness : {{weakness}}</p>
{{/each}}
</div>
{{/partial}}

{{> layout.hbs}}