{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Judy's Hero Squad{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>

    </head>
    <body>
{{/block}}


<!-- begin inner template-->
<div class="container">
<div class="col-md-6">
 <img src = "/images/clint-bustrillos-X-A-LJVAhzk-unsplash.jpg" alt = "image of superheroes" width="500" height="300">
  </div>
  <div class="col-md-6">
   <img src = "/images/gabriel-tovar-lQvr3z9cGYE-unsplash.jpg" alt = "image of superheroes" width="500" height="300">
    </div>
    {{#block "content"}}

    {{/block}}
</div><!-- end inner template-->

{{#block "footer"}}
    </body></html>
{{/block}}