
{{#partial "content"}}

    <p>Here is your Squad details</p>

    <p> Squad Name: {{ name }}</p>
    <p> Squad Size: {{ size }}</p>
    <p>Squad Cause: {{ cause }}</p>


{{/partial}}

{{> layout.hbs}}