{{#partial "content"}}

   <h1>Add a new Hero!</h1>

   <form action="/new/hero" method="post">
       <label for="hero">New Hero</label>
        <input type="text" placeholder="Hero's name" name="name" required class="form-control">
         <label for="age">Age</label>
           <input type="number" placeholder="Hero's age" name="age" required class="form-control">
            <label for="power">Special power</label>
                 <input type="text" placeholder="Hero's power" name="power" required class="form-control">
               <label for="weakness">Weakness</label>
                 <input type="text" placeholder="Hero's weakness" name="weakness" required class="form-control">

       <button type="submit" class="btn btn-default">Add new hero</button>
   </form>
{{/partial}}

{{> layout.hbs}}